# Ignore everything
*

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore .gitignore
!.gitignore

# Don't ignore scripts
!bin/*.R
!bin/*.Rmd
!bin/*.sh
!bin/.multiqc.conf
!bin/*.snakefile
!bin/*.py

# Don't ignore necessary data
!data/biotype_groups.csv
!data/mm10_Gencode_vM20_gencode.bed

# Don't ignore packrat
!packrat/init.R
!packrat/packrat.lock
!packrat/packrat.opts
!.Rprofile
packrat/*lib

# Root directory
!Snakefile
!config.sh
!README.md

# Don't ignore sample info
!sample_info/illumina_sample_id.txt
!sample_info/sampleInfo.csv

# Don't ignore raw fastq md5sum
